In [81]:
import pandas as pd

In [82]:

df = pd.read_csv("race.csv")
df_2 = pd.read_csv("ultra_rankings.csv", na_values=["NA"])


# 1. View the data
print("First few rows of the dataset:")
print(df.head())

print("First few rows of the dataset:")
print(df_2.head())

First few rows of the dataset:
   race_year_id                    event            race         city  \
0         68140     Peak District Ultras   Millstone 100    Castleton
1         72496                    UTMB®           UTMB®     Chamonix
2         69855  Grand Raid des Pyrénées  Ultra Tour 160  vielle-Aure
3         67856            Persenk Ultra   PERSENK ULTRA   Asenovgrad
4         70469  Runfire Salt Lake Ultra        100 Mile     ulukisla

          country        date start_time participation  distance  \
0  United Kingdom  2021-09-03   19:00:00          solo     166.9
1          France  2021-08-27   17:00:00          Solo     170.7
2          France  2021-08-20   05:00:00          solo     167.0
3        Bulgaria  2021-08-20   18:00:00          solo     164.0
4          Turkey  2021-08-20   18:00:00          solo     159.9

   elevation_gain  elevation_loss  aid_stations  participants
0            4520           -4520            10           150
1            9930           -9930            11          2300
2            9980           -9980            13           600
3            7490           -7500            13           150
4             100            -100            12             0
First few rows of the dataset:
   race_year_id  rank            runner         time  age gender nationality  \
0         68140   1.0    VERHEUL Jasper  26H 35M 25S   30      M         GBR
1         68140   2.0      MOULDING JON   27H 0M 29S   43      M         GBR
2         68140   3.0  RICHARDSON Phill   28H 49M 7S   38      M         GBR
3         68140   4.0       DYSON Fiona  30H 53M 37S   55      W         GBR
4         68140   5.0   FRONTERAS Karen  32H 46M 21S   48      W         GBR

   time_in_seconds
0          95725.0
1          97229.0
2         103747.0
3         111217.0
4         117981.0

In [65]:
# Get rid of distance rows that contain 0 for distance
# clean_df = df[df['distance'] > 0]
# there are participants in this race in the other csv file (like 64771 race_year_id) yet show 0 participants so must be errors

In [83]:
# Replace these columns containing NA with 0 (to represent not completed run)
clean_df2 = df_2.copy()
clean_df2.fillna(0, inplace=True)

In [84]:
# This is when participants are 0 in race.csv but there are still participants in the other file so need to correct it
participant_counts = clean_df2['race_year_id'].value_counts().reset_index()
participant_counts.columns = ['race_year_id', 'correct_participants']

clean_df = df.copy()
clean_df = clean_df.merge(participant_counts, on='race_year_id', how='left')


clean_df['participants'] = clean_df.apply(
    lambda row: row['correct_participants'] if row['participants'] == 0 and pd.notna(row['correct_participants']) else row['participants'],
    axis=1
)


clean_df.drop(columns=['correct_participants'], inplace=True)


clean_df.to_csv('updated_race.csv', index=False)

In [67]:
cleaned_file_path = "ultra_rankings_cleaned.csv"
clean_df2.to_csv(cleaned_file_path, index=False)

In [85]:
combined_df = pd.merge(clean_df, clean_df2, on="race_year_id", how="inner")

In [86]:
combined_df['gender'] = combined_df['gender'].replace(0, 'Other') # extra option I found in the data

In [89]:
unique_events = combined_df['country'].unique() # same with this
print(unique_events)

['United Kingdom' 'France' 'Bulgaria' 'Turkey' 'Switzerland' 'Norway'
 'Belgium' 'Canada' 'Sweden' 'Austria' 'Russia' 'United States' 'Italy'
 'Australia' 'Finland' 'Spain' 'Romania' 'Portugal' 'Iceland' 'Poland'
 'South Africa' 'New Zealand' 'Greece' 'China' 'Japan' 'Argentina'
 'Costa Rica' 'Hong Kong, China' 'Indonesia' 'Israel' 'Mexico' 'Thailand'
 'Germany' 'Denmark' 'PA, United States' 'Malaysia' 'Taiwan'
 'LA, United States' 'Oman' 'India' 'Jordan' 'Ukraine' 'Chile' 'Colombia'
 'Slovenia' 'Myoko, Japan' 'Hungary' 'Andorra' 'Ecuador' 'Estonia'
 'Philippines' 'Nepal' 'Croatia' 'FL, United States' 'Ireland'
 'Czech Republic' 'Brazil' nan 'Fiji' 'Chad' 'Singapore']

In [90]:
print(combined_df.isna().sum()) # getting rid of any nan countries

race_year_id           0
event                  0
race                   0
city               15599
country               77
date                   0
start_time             0
participation          0
distance               0
elevation_gain         0
elevation_loss         0
aid_stations           0
participants           0
rank                   0
runner                 0
time                   0
age                    0
gender                 0
nationality            0
time_in_seconds        0
dtype: int64

In [91]:
combined_df = combined_df.dropna(subset=['country'])

In [92]:
print(df.isna().sum())

race_year_id        0
event               0
race                0
city              172
country             4
date                0
start_time          0
participation       0
distance            0
elevation_gain      0
elevation_loss      0
aid_stations        0
participants        0
dtype: int64

In [93]:
country_coordinates = {
    'United Kingdom': {'lat': 55.3781, 'lon': -3.4360},
    'France': {'lat': 46.2276, 'lon': 2.2137},
    'Bulgaria': {'lat': 42.7339, 'lon': 25.4858},
    'Turkey': {'lat': 38.9637, 'lon': 35.2433},
    'Switzerland': {'lat': 46.8182, 'lon': 8.2275},
    'Norway': {'lat': 60.4720, 'lon': 8.4689},
    'Belgium': {'lat': 50.5039, 'lon': 4.4699},
    'Canada': {'lat': 56.1304, 'lon': -106.3468},
    'Sweden': {'lat': 60.1282, 'lon': 18.6435},
    'Austria': {'lat': 47.5162, 'lon': 14.5501},
    'Russia': {'lat': 61.5240, 'lon': 105.3188},
    'United States': {'lat': 37.0902, 'lon': -95.7129},
    'Italy': {'lat': 41.8719, 'lon': 12.5674},
    'Australia': {'lat': -25.2744, 'lon': 133.7751},
    'Finland': {'lat': 61.9241, 'lon': 25.7482},
    'Spain': {'lat': 40.4637, 'lon': -3.7492},
    'Romania': {'lat': 45.9432, 'lon': 24.9668},
    'Portugal': {'lat': 39.3999, 'lon': -8.2245},
    'Iceland': {'lat': 64.9631, 'lon': -19.0208},
    'Poland': {'lat': 51.9194, 'lon': 19.1451},
    'South Africa': {'lat': -30.5595, 'lon': 22.9375},
    'Greece': {'lat': 39.0742, 'lon': 21.8243},
    'China': {'lat': 35.8617, 'lon': 104.1954},
    'Japan': {'lat': 36.2048, 'lon': 138.2529},
    'Argentina': {'lat': -38.4161, 'lon': -63.6167},
    'Costa Rica': {'lat': 9.7489, 'lon': -83.7534},
    'New Zealand': {'lat': -40.9006, 'lon': 174.8860},
    'Hong Kong, China': {'lat': 22.3193, 'lon': 114.1694},
    'Indonesia': {'lat': -0.7893, 'lon': 113.9213},
    'Israel': {'lat': 31.0461, 'lon': 34.8516},
    'Mexico': {'lat': 23.6345, 'lon': -102.5528},
    'Thailand': {'lat': 15.8700, 'lon': 100.9925},
    'Germany': {'lat': 51.1657, 'lon': 10.4515},
    'Denmark': {'lat': 56.2639, 'lon': 9.5018},
    'Malaysia': {'lat': 4.2105, 'lon': 101.9758},
    'Taiwan': {'lat': 23.6978, 'lon': 120.9605},
    'Oman': {'lat': 21.4735, 'lon': 55.9754},
    'India': {'lat': 20.5937, 'lon': 78.9629},
    'Jordan': {'lat': 30.5852, 'lon': 36.2384},
    'Ukraine': {'lat': 48.3794, 'lon': 31.1656},
    'Chile': {'lat': -35.6751, 'lon': -71.5430},
    'Colombia': {'lat': 4.5709, 'lon': -74.2973},
    'Slovenia': {'lat': 46.1512, 'lon': 14.9955},
    'Myoko, Japan': {'lat': 36.8910, 'lon': 138.1810},
    'Hungary': {'lat': 47.1625, 'lon': 19.5033},
    'Ecuador': {'lat': -1.8312, 'lon': -78.1834},
    'Estonia': {'lat': 58.5953, 'lon': 25.0136},
    'Philippines': {'lat': 12.8797, 'lon': 121.7740},
    'Nepal': {'lat': 28.3949, 'lon': 84.1240},
    'Croatia': {'lat': 45.1, 'lon': 15.2},
    'Ireland': {'lat': 53.4129, 'lon': -8.2439},
    'Czech Republic': {'lat': 49.8175, 'lon': 15.4730},
    'Brazil': {'lat': -14.2350, 'lon': -51.9253},
    'Fiji': {'lat': -17.7134, 'lon': 178.0650},
    'Andorra': {'lat': 42.5063, 'lon': 1.5218},
    'Chad': {'lat': 15.4542, 'lon': 18.7322},
    'Singapore': {'lat': 1.3521, 'lon': 103.8198}
}

In [96]:
combined_df.loc[:, 'latitude'] = combined_df['country'].apply(lambda country: country_coordinates.get(country, {}).get('lat'))
combined_df.loc[:, 'longitude'] = combined_df['country'].apply(lambda country: country_coordinates.get(country, {}).get('lon'))
# need the coordinates for the map to work

In [98]:
combined_df['time_in_hours'] = (combined_df['time_in_seconds'] / 3600).round(2)

In [102]:
combined_df['event_id'] = combined_df['event'] + ' - ' + combined_df['date'].astype(str) + ' - ' + combined_df['country'] #attempted a fix

In [113]:
combined_df2 = combined_df.copy()
combined_df2['event'] = combined_df['event'] + ' - ' + combined_df['date'].astype(str) + ' - ' + combined_df['country'] #attempted a fix

In [114]:
combined_df2.to_csv("combined_data_6.csv", index=False)